<!--
    Created on Dec 2019
    Agung Pambudi <agung.pambudi5595@gmail.com>
-->

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicoding.picodiploma.moviecatalouge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission android:name="com.dicoding.picodiploma.moviecatalouge.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="com.dicoding.picodiploma.moviecatalouge.WRITE_DATABASE" android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name=".provider.MovieFavoriteProvider"
            android:authorities="com.dicoding.picodiploma.moviecatalouge"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.dicoding.picodiploma.moviecatalouge.READ_DATABASE"
            android:writePermission="com.dicoding.picodiploma.moviecatalouge.WRITE_DATABASE"/>

        <service
            android:name=".remoteView.WidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.WidgetMovie">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>

        <receiver
            android:name=".reminder.ReminderReceiver"
            android:enabled="true"
            android:exported="true" />


        <activity android:name=".activity.FavoriteActivity" />
        <activity android:name=".activity.MovieDetailActivity" />
        <activity android:name=".activity.TVShowDetailActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReminderActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
    </application>

</manifest>